@font-face {
  font-family: "codePro";
  src: url("../fonts/code-pro-light.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "codePro";
  src: url("../fonts/code-pro-bold.woff2") format("woff2"), url("../fonts/umbrage2-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Arial", Helvetica, sans-serif; }

.intro__background {
  min-width: 320px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-size: 0; }

.intro__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: url("../img/main@1x.jpg") no-repeat center center;
  animation: bgZoom 50s linear; }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro__background::before {
      background: url("../img/main@2x.jpg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }
  @media (max-width: 768px) {
    .intro__background::before {
      background-position-x: right;
      background-size: cover; } }
  @media (max-width: 580px) {
    .intro__background::before {
      background-position-x: 20%;
      background-size: cover; } }
  @media (orientation: landscape) {
    .intro__background::before {
      width: 100%;
      height: 100%;
      background-size: cover; } }
  @media (orientation: portrait) {
    .intro__background::before {
      width: 100%;
      height: 100%;
      background-size: cover; } }

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 30px; }
  @media (max-width: 768px) {
    .intro__wrapper {
      flex-direction: column-reverse; } }

.intro__header {
  transition: opacity 0.2s linear; }
  .intro__header--sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; }

.intro__btn__wrapper {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5); }

.intro__btn__wrapper:hover {
  background-color: rgba(255, 255, 255, 0.6); }

.intro__logo {
  width: 130px;
  height: 80px;
  display: block;
  position: relative; }
  @media (max-width: 768px) {
    .intro__logo {
      margin-top: 60px;
      width: 180px;
      height: 160px; } }

.intro__logo-text {
  position: absolute;
  left: 0;
  top: 0; }
  @media (max-width: 768px) {
    .intro__logo-text {
      display: none; } }

.intro__logo-brain {
  position: absolute;
  left: 20px; }
  @media (max-width: 768px) {
    .intro__logo-brain {
      width: 180px;
      height: 160px;
      left: -60px;
      top: 0; } }

.intro__main {
  margin-top: 150px;
  text-align: center;
  color: #ffffff; }
  @media (max-width: 768px) {
    .intro__main {
      margin-top: 0px; } }

.intro__title {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 48px;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  transform: scale(1.2);
  filter: blur(90px);
  transition: all 1.0s ease-in-out; }
  @media (max-width: 580px) {
    .intro__title {
      font-size: 32px; } }
  @media (min-width: 1200px) {
    .intro__title {
      font-size: 64px; } }
  @media (min-width: 1600px) {
    .intro__title {
      margin-top: 40px;
      font-size: 72px; } }

.intro__title--loaded {
  transform: scale(1);
  filter: blur(0px); }

.intro__title--nojs {
  transform: scale(1);
  filter: blur(0px); }

.intro__title span {
  font-family: "codePro", Helvetica, sans-serif;
  font-weight: normal; }

.intro__switch {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  width: 25px;
  height: 15px;
  border: none;
  cursor: pointer;
  z-index: 9999; }
  .intro__switch::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 25px;
    height: 2px;
    background: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff; }
  .intro__switch:hover::before {
    background: #b89a51;
    box-shadow: 0 6px 0 0 #b89a51, 0 12px 0 0 #b89a51; }
  @media (max-width: 768px) {
    .intro__switch {
      margin-top: 20px;
      align-self: flex-end; } }

@media (max-width: 768px) {
  .intro__switch {
    display: block; } }

@media (max-width: 768px) {
  .intro__header--sticky .intro__wrapper {
    flex-direction: row;
    align-items: center; }
  .intro__header--sticky .intro__logo {
    margin-top: 0;
    width: 130px;
    height: 80px; }
  .intro__header--sticky .intro__logo-text {
    display: block;
    z-index: 9999; }
  .intro__header--sticky .intro__logo-brain {
    width: 90px;
    height: 80px;
    left: 20px;
    z-index: 9999; }
  .intro__header--sticky .intro__switch {
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%); } }

@keyframes bgZoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase; }

.navigation__item {
  margin-right: 20px;
  list-style-type: none;
  cursor: pointer; }
  .navigation__item:hover a {
    color: yellow; }

.navigation__item:last-child {
  margin-right: none; }

.navigation__item a {
  text-decoration: none;
  color: white; }

@media (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    min-width: 320px;
    display: none;
    transition: height 0.1s linear;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9998; }
  .opened__menu .navigation {
    display: block; }
  .navigation__list {
    margin-top: 60px;
    padding-top: 15px;
    flex-direction: column; }
  .navigation__item {
    margin-right: 0;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .navigation__item:hover {
    background-color: rgba(25, 14, 37, 0.5); } }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  min-height: 100vh;
  background-color: black;
  width: 100%;
  min-width: 320px; }

h2 {
  font-family: "codePro", "Geneva", "sans-serif"; }

.opened__menu {
  overflow: hidden; }

.opened__menu--body {
  position: fixed; }

.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px; }

.rooms {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000;
  text-align: center; }

.rooms__info {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 4px solid #ffffff;
  text-align: left; }

.rooms__title h2 {
  margin: 0;
  font-family: "codePro", "Geneva", "sans-serif";
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff; }
  @media (max-width: 375px) {
    .rooms__title h2 {
      font-size: 28px; } }

.rooms__title {
  position: relative;
  padding-left: 65px; }

.rooms__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 55px;
  background: url("../img/keys_logo.png") no-repeat center center;
  background-size: cover; }

.rooms__title-additional {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #5335e3; }
  @media (max-width: 375px) {
    .rooms__title-additional {
      font-size: 14px; } }

.rooms__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ffffff; }

.rooms__description {
  max-width: 650px;
  margin-top: 0px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff; }

.rooms__item {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  min-height: 100px;
  border-radius: 10px;
  background-color: #5335e3;
  overflow: hidden; }

.rooms__item-info {
  box-sizing: border-box;
  width: 50%;
  padding: 20px 30px;
  padding-bottom: 10px;
  text-align: left; }

.rooms__item-preview {
  width: 50%;
  position: relative;
  overflow: hidden;
  z-index: 2; }

.rooms__item--chambre .rooms__item-preview {
  background: url("../img/rooms_img1.jpg") no-repeat top center;
  background-size: cover; }

.rooms__item--expiriance .rooms__item-preview {
  background: url("../img/rooms_img2.jpg") no-repeat top center;
  background-size: cover; }

.rooms__item-preview > * {
  z-index: 4; }

.rooms__item-preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 38, 199, 0.3);
  z-index: 3; }

.rooms__item-info h3 {
  max-width: 150px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "codePro", "Geneva", "sans-serif";
  font-weight: bold;
  font-size: 24px; }
  .rooms__item-info h3::after {
    content: "";
    margin-top: 10px;
    display: block;
    width: 80px;
    height: 3px;
    background-color: #000000; }

.rooms__item-info span {
  color: #000000; }

.rooms__stats {
  position: relative;
  margin-bottom: 20px;
  font-family: "codePro", "Geneva", "sans-serif";
  font-weight: bold;
  font-size: 16px;
  transition: top 0.1s ease-in-out; }

.rooms__stats > * {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0;
  margin-right: 15px;
  padding-left: 30px; }

.rooms__stats > *::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 25px;
  height: 35px; }

.rooms__people::before {
  background: url("../img/person_icon.svg") no-repeat center center;
  background-size: 32px 34px; }

.rooms__time::before {
  background: url("../img/sand-clock1.svg") no-repeat center center;
  background-size: 32px 20px; }

.rooms__stats > *:last-child {
  margin-right: 0; }

.rooms__reserve {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 15px;
  padding: 10px 30px;
  font-family: "Arial", Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s linear; }

.rooms__reserve:hover {
  transform: scale(1.1); }

.rooms__about {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100%;
  width: 80%;
  overflow-y: auto;
  transition: margin-top 0.6s ease-in-out; }

.rooms__item:hover .rooms__about {
  margin-top: 15%; }

@media (max-width: 1040px) {
  .rooms__item {
    width: 80%;
    margin-bottom: 40px; }
  .rooms__item-info h3 {
    font-size: 34px; } }

@media (max-width: 768px) {
  .rooms__item {
    width: 100%;
    margin-bottom: 40px; }
  .rooms__item-info h3 {
    max-width: 130px;
    font-size: 28px; } }

@media (max-width: 568px) {
  .rooms__item {
    position: relative;
    display: block; }
  .rooms__item-info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    top: 0;
    left: 0;
    z-index: 5; }
  .rooms__item-info span {
    color: #ffffff; }
  .rooms__item-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .rooms__item-preview > * {
    display: none; }
  .rooms__item-info h3 {
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 5px; }
  .rooms__item-info h3::after {
    display: none; }
  .rooms__reserve {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-size: 0;
    background-color: transparent;
    box-shadow: none;
    z-index: 9999; }
  .rooms__reserve:hover {
    transform: none; }
  .rooms__reserve:active {
    background-color: rgba(65, 38, 199, 0.6); }
  .rooms__stats {
    margin-bottom: 0; } }

@media (max-width: 400px) {
  .rooms__item-info h3 {
    max-width: 100%;
    font-size: 18px; } }

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
  color: #000000; }

.about {
  padding: 30px 0;
  color: #2b2e34; }

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 568px) {
    .about__wrapper {
      flex-direction: column; } }

.about__heading {
  font-size: 38px;
  text-align: center; }

.about__title {
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 22px; }

.about__info {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 23px; }

.about__item {
  width: 32%;
  text-align: center; }
  @media (max-width: 568px) {
    .about__item {
      width: 100%; } }

.participants {
  padding: 30px 0;
  color: #ffffff;
  background-color: #2b2e34; }

.participants__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .participants__wrapper {
      flex-direction: column; } }

.participants__item {
  width: 24%;
  text-align: center; }
  @media (max-width: 768px) {
    .participants__item {
      width: 100%; } }

.participants__heading {
  font-size: 38px;
  text-align: center; }

.participants__title {
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px; }

.participants__info {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #999999; }

.stats {
  padding: 30px 0;
  color: #2b2e34; }

.stats__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .stats__wrapper {
      flex-direction: column; } }

.stats__item {
  position: relative;
  width: 23%;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 30px; }
  .stats__item:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-size: 25px 25px; }
  .stats__item--rooms::after {
    background-image: url("../img/shiny-diamond.svg"); }
  .stats__item--locks::after {
    background-image: url("../img/lock.svg"); }
  .stats__item--joueurs::after {
    background-image: url("../img/user-network.svg"); }
  .stats__item--minutes::after {
    background-image: url("../img/sand-clock.svg"); }
  @media (max-width: 768px) {
    .stats__item {
      width: 100%; } }

.stats__number {
  margin: 0;
  font-family: "codePro", "Geneva", "sans-serif";
  font-size: 70px;
  line-height: 70px; }

.stats__title {
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3em;
  color: #999999;
  text-transform: uppercase; }

.faq {
  position: relative;
  padding: 30px 0;
  background-color: #2b2e34; }

.faq__wrapper {
  width: 70%;
  margin: 0 auto; }
  @media (max-width: 568px) {
    .faq__wrapper {
      width: 100%; } }

.faq__title {
  font-size: 38px;
  color: #ffffff; }

.faq__additional {
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #b89a51; }

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff; }

.faq__question {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 19px; }

.faq__question:hover {
  color: #b89a51; }

.faq__question::before {
  content: "+";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6; }

.faq__question--opened::before {
  content: "-";
  color: #b89a51;
  opacity: 1; }

.faq__answer {
  display: block;
  padding-left: 30px;
  height: 0;
  overflow: hidden;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  transition: height 0.2s linear; }

.price {
  background-color: #2b2e34;
  text-align: center; }

.price__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.price__heading {
  margin: 0;
  font-size: 38px;
  color: #ffffff; }

.price__title {
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px; }

.price__additional {
  font-family: "leaguespartan", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #b89a51; }

.price__item {
  position: relative;
  width: 33%;
  padding-top: 100px;
  color: #ffffff; }

.price__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: url; }

.price__content {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 21px;
  line-height: 29px; }

.partners img {
  width: 200px; }

.partners__content {
  display: flex;
  align-items: center; }
