html,
body {
    margin:0;
    padding: 0;
    height: 100%;
}

p {
    margin-top: 0;
}

.top {
    height: 100vh;
    background:url("../img/main@1x.jpg") no-repeat center center;
    background-size: cover;
}

.bottom p{
    background-color: skyblue;
}

/** 
 * iPad with portrait orientation.
 */
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
    .top {
      height: 1024px;
    }
  }
  
  /** 
   * iPad with landscape orientation.
   */
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
    .top {
      height: 768px;
    }
  }
  
  /**
   * iPhone 5
   * You can also target devices with aspect ratio.
   */
  @media screen and (device-aspect-ratio: 40/71) {
    .top {
      height: 500px;
    }
  }