@font-face {
  font-family: "codePro";
  src: url("../fonts/code-pro-light.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "codePro";
  src: url("../fonts/code-pro-bold.woff2") format("woff2"), url("../fonts/umbrage2-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}