html,
body {
    margin:0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: black;
    min-width: 320px;
}

h2 {
    font-family: $title-text;
}

.opened__menu {
    overflow: hidden;
}

.opened__menu--body {
    position: fixed;
    width: 100%;

}

