@import "varaibles.scss";
@import "fonts.scss";
@import "blocks/intro.scss";
@import "blocks/navigation.scss";
@import "main.scss";
@import "blocks/container.scss";
@import "blocks/rooms.scss";
@import "blocks/btn.scss";
@import "blocks/about.scss";
@import "blocks/participants.scss";
@import "blocks/stats.scss";
@import "blocks/price.scss";
@import "blocks/partners.scss";
@import "blocks/info.scss";
@import "blocks/difficuty-badge.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/footer.scss";
@import "blocks/scroll-home.scss";
@import "blocks/preloader.scss";
@import "blocks/room.scss";
@import "blocks/background.scss";
