$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop: 1150px;
$tablet: 768px;

$main-color: #b89a51;
$second-color: #322022;
$background: #2b2e34;

$title-text: "codePro", "Geneva", "sans-serif";
$secondary-text: "leaguespartan", "Helvetica", sans-serif;
$main-text: "Arial", Helvetica, sans-serif;;