.concept {
    color: white;
    font-family: Arial;
    text-align: justify;
    margin: 15px;
}

.concept__purple-text {
    color: #5335e3;
}

.concept__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    margin-top: 25px;
    text-transform: uppercase;
}

.concept__subtitle {
    font-size: 20px;
}

.concept__columns {
    column-count: 2;
    column-gap: 20px;
}

.concept__image-block {
    height: 200px;
}

.concept__purple-section {
    background-color: #5335e3;
}

.concept__logos {
    display: flex;
    height: 100px;
    flex: 4;
}

.concept__logo {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.concept__logo > img {
    height: 100%;
}

.concept__bold {
    font-weight: bold;
}

.concept__centered-logo {
    text-align: center;
}

.concept__centered-logo > img {
    height: 100px;
}