.concept {
    color: white;
    font-family: Arial;
    text-align: justify;
    margin: 15px;
}

.concept__purple-text {
    color: #5335e3;
}

.concept__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    margin-top: 25px;
    text-transform: uppercase;
}

.concept__subtitle {
    font-size: 20px;
}

.concept__columns {
    display: flex;
    flex: 2;
}

.concept__column {
    flex: 1;
}

.concept__column:first-child {
    margin-right: 20px;
}

.concept__column:nth-child(2n) {
    margin-left: 20px;
}


.concept__image-block {
    height: 200px;
}

.concept__purple-section {
    background-color: #5335e3;
    padding: 20px;
}

.concept__logos {
    display: flex;
    height: 100px;
    flex: 4;
}

.concept__logo {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.concept__logo > img {
    height: 100%;
    filter: invert(100%);	
}

.concept__bold {
    font-weight: bold;
}

.concept__centered-logo {
    height: 100px;
    text-align: center;
}

@media (max-width: 520px) {
    .concept__logo {
        height: 50px;
        font-size: 12px
    }
}

.concept__centered-logo > img {
    height: 100%;
}

.concept__link {
    text-align: center;
    color: yellow;
    font-weight: bold;
    margin: 20px 0 20px;
}

.concept__purple-header {
    display: flex;
    height: 50px;
}

.concept__purple-header > img {
    height: 100%;
}

.concept__black-text {
    color: black;
}

.concept__header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.concept__page {
    margin-bottom: 40px;
}

.concept__type {
    margin-top: 20px;
}
