.container {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media (min-width: 568px) {
    .container {
        width: 568px;
        padding: 0 30px;
        margin: 0 auto;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 768px;
      padding: 0 30px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1150px) {
    .container {
      width: 1150px;
      padding: 0 30px;
      margin: 0 auto;
    }
  }