.intro {
	position: relative;
	width: 100%;
	height: 100vh;
	max-height: 800px;
	min-height: 500px;
    box-sizing: border-box;
	font-size: 14px;
	font-family: $main-text;
}

.intro__background {
	min-width: 320px;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	z-index: -1;
	font-size: 0;
	transform: rotate(0.01deg);
}

.intro__arrows {
	width: 60px;
	height: 30px;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
}

.intro__arrow {
	width: 60px;
	height: 20px;
	position: absolute;
	font-size: 0;
	color: transparent;
}

.intro__arrow--top {
	bottom: 0px;
}

.intro__arrow--bottom {
	bottom: 10px;
}

.intro__arrow::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 0;
	width: 30px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.9);
	transform-origin: 100% 100%;
	transform: rotate(30deg);
}

.intro__arrow::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 3px;
	background-color:  rgba(255, 255, 255, 0.9);
	transform: rotate(-30deg);
	transform-origin: 0% 100%;
}

.intro__background::before {
	content:"";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	z-index: -1;
	background:url("../img/main@1x.jpg") no-repeat center center;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background:url("../img/main@2x.jpg") no-repeat center center;
		background-size: cover;
	}
	
	@media (max-width: 768px) {
		background-position-x: right;
		background-size: cover;
	}

	@media (max-width: 580px) {
		background-position-x: 20%;
		background-size: cover;
	}

	@media(orientation: landscape) {
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	@media(orientation: portrait) {
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	animation: bgZoom 25s linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.intro__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	align-items: center;
	padding: 0px 30px;

	@media(max-width: 768px) {
		flex-direction: column-reverse;
	}
 }

.intro__header {
	transition: opacity 0.2s linear;

	&--sticky {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 1;
		background-color: rgba(0,0,0,0.5);
		z-index: 9999;
	}
}

.intro__btn__wrapper {
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.intro__btn__wrapper:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.intro__logo {
	width: 130px;
	height: 80px;
	display: block;
	position: relative;
}

.intro .intro__logo {
	@media (max-width: 768px) {
		margin-top: 60px;
		width: 180px;
		height: 160px;
	}
}

.intro__logo-text {
	position: absolute;
	left: 0;
	top: 0;
}

.intro .intro__logo-text {
	@media (max-width: 768px) {
		display: none;
	}
}

.intro__logo-brain {
	position: absolute;
	left: 20px;
}

.intro .intro__logo-brain  {
	@media (max-width: 768px) {
		width: 180px;
		height: 160px;
		left: -60px;
		top: 0;
	}
}

.intro__main {
	margin-top: 150px;
	text-align: center;
	color: #ffffff;

	@media(max-width: 768px) {
		margin-top: 0px;
	}
}

.intro__title {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 48px;
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 auto;	
	filter: blur(90px);

	@media(max-width: 580px) {
		font-size:32px;
	}

	@media(min-width: 1200px) {

		font-size: 64px;
	}
	@media(min-width: 1600px) {
		margin-top: 40px;
		font-size: 72px;
	}
}

.loaded .intro__title {
	animation: slideIn 0.7s ease-in-out;
	filter: blur(0px);
}

.intro__title span {
	font-family: "codePro", Helvetica, sans-serif;
	font-weight: normal;
}

.intro__social {
	margin-top: 20px;
	margin-bottom: 20px;

	@media(max-width: 768px) {
		margin-top: auto;
		text-align: center;
	}
}

.intro__switch {
	padding: 0;
	display: none;
	position: absolute;
	top:30px;
	right: 20px;
	background-color: transparent;
	width: 25px;
	height: 15px;
	border: none;
	color: transparent;
	font-size: 0px;
	cursor: pointer;
	z-index: 9999;

	.opened__menu & {
		top:10px;
		width: auto;
		height: auto;
		color: #ffffff;
		font-size: 36px;
		outline: none;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 25px;
		height: 2px;
		background: #ffffff;
		box-shadow: 
			0 6px 0 0 #ffffff,
			0 12px 0 0 #ffffff;
	}

	.opened__menu &::before  {
		display: none;
	}

	@media(max-width: 768px) {
		margin-top: 0px;
		align-self: flex-end;
	}
}

@media(max-width: 768px) {
	.intro__switch {
		display: block;
	}
}


.intro__header--sticky {
	@media(max-width: 768px) {
		.intro__wrapper  {
			flex-direction: row;
			align-items: center;
		}

		.intro__logo {
			margin-top: 0;
			width: 130px;
			height: 80px;
		}

		.intro__logo-text {
			display: block;
			z-index:9999;
		}

		.intro .intro__logo-brain {
			width: 90px;
			height: 80px;
			left: 20px;
			z-index:9999;
		}

		.intro__switch {
			margin-top: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

@keyframes bgZoom {
	0% {transform: scale(1);}
	100% {transform: scale(1.4);}
}

@keyframes slideIn {
	0% {filter: blur(90px);}
	100% {filter: blur(0px);}
}
