
.navigation__list {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.navigation__item {
	margin-right: 20px;
	list-style-type: none;
	cursor: pointer;

	&:hover a {
		color: yellow;
	}

	&:last-child {
		margin-right: 0;
	}
}

.navigation__item:last-child {
	margin-right: none;
}

.navigation__item a {
	text-decoration: none;
	color: white;
}

.navigation {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.navigation__list {
	order: 1;
}

@media(max-width: 768px) {
	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow-y: auto;
		min-width: 320px;
		display: none;
		transition: height 0.1s linear;
		background-color: rgba(0,0,0,0.9);
		z-index: 9998;
		text-align: center;
	}

	.opened__menu .navigation {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}


	.opened__menu .navigation > * {
		width: 100%;
	}
	
	.navigation__list {
		order: 0;
		margin-top: 60px;
		padding-top: 15px;
		flex-direction: column;
	}

	.navigation__item {
		margin-right: 0;
		// padding-left: 40px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navigation__item:hover {
		background-color: rgba(25, 14, 37, 0.5);
	}
}


.lang_switch {
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin-right: 0.5em;
	position: relative;
	top: 7px;
  }

  @media (max-width: 880px) {
	.lang_switch {
		top: 0.7em;
	  };
  }
