.price {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #351fa0;
}

.price__title {
    position: relative;
    margin-left: 90px;
    margin-bottom: 40px;
    padding-left: 20px;
    border-left: 4px solid black;
}

.price__title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -90px;
    width: 65px;
    height: 65px;
    background: url("../img/euro_symbol.svg") no-repeat center center;
    background-size: 65px 65px;
    transform: translateY(-50%);
}

.price__title h2 {
    margin: 0;
    font-family: $title-text;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;

    @media(max-width: 375px) {
        font-size: 28px;
    }
}

.price__small {
    margin: 0;
    max-width: 480px;
    font-family: $main-text;
    font-weight: bold;

    @media(max-width: 375px) {
        font-size: 14px;
    }
}

.price__list {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}


.price__item {
    position: relative;
    width: 33%;
    padding-top: 75px;
    padding-bottom: 20px;
    text-align: center;

    &--3 {
        background-color: #384054;
    }

    &--4 {
        background-color: #353d51;
    }

    &--5 {
        background-color: #33394c;
    }

    &:first-child {
        border-radius: 10px 0px 0px 10px;
    }

    &:last-child {
        border-radius: 0px 10px 10px 0px;
    }
}

.price__item > * {
    margin-bottom: 10px;
}

.price__persones {
    margin: 0;
    font-family: $title-text;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.price__number {
    margin: 0;
    font-family: $main-text;
    font-size: 24px;
    font-weight: bold;
    color: #d8ce5b;

    .price__item--4 & {
        color: #a1f55d; 
    }

    .price__item--5 & {
        color: #08c596;
    }
}

.price__tip {
    font-family: $main-text;
    font-weight: bold;
    color: #ffffff;
}

.price__item::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.price__item--3::before {
    width: 70px;
    background-image: url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg");
    background-position-x: -10px, 10px, 30px;
}

.price__item--4::before {
    width: 90px;
    background-image: url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg");
    background-position-x: -10px, 10px, 30px, 50px;
}

.price__item--5::before {
    width: 110px;
    background-image: url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg"),
    url("../img/person_icon.svg");
    background-position-x: -10px, 10px, 30px, 50px, 70px;
}

@media(max-width: 768px) {
    .price__persones {
        font-size: 18px;
    }

    .price__number {
        font-size: 18px;
    }
}

@media(max-width: 568px) {
    .price__list {
        flex-direction: column;
        align-items: center;
    }

    .price__item {
        width: 80%;
        max-width: 300px;
    }

    .price__item {
        &:first-child {
            border-radius: 10px 10px 0px 0px;
        }
    
        &:last-child {
            border-radius: 0px 0px 10px 10px;
        }
    }
}
