.rooms {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000000;
    text-align: center;
}

.rooms__info {
    padding-left: 20px;
    margin-bottom: 30px;
    border-left: 4px solid #ffffff;
    text-align: left;
}

.rooms__title h2 {
    margin: 0;
    font-family: $title-text;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;

    @media(max-width: 375px) {
        font-size: 28px;
    }
}

.rooms__title {
    position: relative;
    padding-left: 65px;
}

.rooms__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 53px;
    height: 55px;
    background: url("../img/keys_logo.svg") no-repeat center center;
    background-size: cover; 
}

.rooms__title-additional {
    margin: 0;
    margin-bottom: 5px;
    font-family: $main-text;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #5335e3;

    @media(max-width: 375px) {
        font-size: 14px;
    }
} 

.rooms__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
}

.rooms__description {
    max-width: 650px;
    margin-top: 0px;
    font-family: $main-text;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.rooms__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    min-height: 100px;
    border-radius: 10px;
    background-color: #5335e3;
    overflow: hidden;
    transition: transform 0.1s linear;
}

.rooms__item:hover {
    transform: scale(1.05);
}

.rooms__item-info {
    box-sizing: border-box;
    width: 50%;
    padding: 20px 30px;
    padding-bottom: 10px;
    text-align: left;
}

.rooms__item-preview {
    width: 50%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.rooms__item--chambre .rooms__item-preview {
    background:  url("../img/rooms_img1.jpg") no-repeat top center;
    background-size: cover;
}

.rooms__item--expiriance .rooms__item-preview {
    background:  url("../img/rooms_img2.jpg") no-repeat top center;
    background-size: cover;
}

.rooms__item-preview > * {
    z-index: 4;
}

.rooms__item-preview::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(65, 38, 199, 0.4), rgba(115, 89, 245, 0.4));
    z-index: 3;
}


.rooms__item-info h3 {
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $title-text;
    font-weight: bold;
    font-size: 24px;

    &::after {
        content: "";
        margin-top: 10px;   
        display: block;
        width: 80px;
        height: 3px;
        background-color: #000000;
    }
}

.rooms__item-info span {
    color: #000000;
}

.rooms__stats {
    position: relative;
    margin-bottom: 20px;
    font-family: $title-text;
    font-weight: bold;
    font-size: 16px;
    transition: top 0.1s ease-in-out;
}

.rooms__stats > * {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    margin-right: 15px;
    padding-left: 30px;
}

.rooms__stats > *::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 25px;
    height: 35px;
}

.rooms__people::before {
    background: url("../img/person_icon.svg") no-repeat center center;
    background-size: 32px 34px;

}

.rooms__time::before {
    background: url("../img/sand-clock1.svg") no-repeat center center;
    background-size: 32px 20px;

}

.rooms__stats > *:last-child {
    margin-right: 0;
}

.rooms__reserve {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 15px;
    padding: 10px 30px;
    font-family: $main-text;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    transition: transform 0.1s linear;
}

.rooms__reserve:hover {
    transform: scale(1.1);
}

.rooms__about {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100%;
    overflow-y: auto;
    font-family: $main-text;
    font-size: 14px;
    transition: margin-top 0.3s ease-in-out;
}

.rooms__item:hover .rooms__about {
    margin-top: 15%;
}

@media(max-width: 1040px) {
    .rooms__item {
        width: 80%;
        margin-bottom: 25px;
    }

    .rooms__item-info h3 {
        font-size: 34px;
    }
}

@media(max-width: 768px) {
    .rooms__item {
        width: 100%;
    }

    .rooms__item-info h3 {
        max-width: 130px;
        font-size: 28px;
    }
}

@media(max-width: 568px) {
    .rooms__item {
        position: relative;
        display: block;
    }

    .rooms__item-info {
        display: flex;
        flex-wrap:wrap;
        align-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px 20px;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .rooms__item-info span {
        color: #ffffff;
    }

    .rooms__item-preview {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .rooms__item-preview > * {
        display: none;
    }

    .rooms__item-info h3 {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }

    .rooms__item-info h3::after {
        display: none;
    }

    .rooms__reserve {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        font-size: 0;
        background-color: transparent;
        box-shadow: none;
        z-index: 9999;
    }

    .rooms__reserve:hover {
        transform: none;
    }

    .rooms__reserve:active {
        background-color: rgba(65, 38, 199, 0.6);
    }

    .rooms__stats {
        margin-bottom: 0;
    }
}

@media(max-width: 400px) {
    .rooms__item-info h3 {
        max-width: 100%;
        font-size: 18px;
    }
}
