.room {
    margin-top: 60px;
    color: #ffffff;
}

.room-page--chambre {
    background: #000000 url("../img/key_background.png") no-repeat 100px center;
    background-attachment: fixed;
    background-position-y: 120px;
    background-size: 15%;
    background-position-x: 20%;

    @media(max-width: 1300px) {
        background-size: 15%;
        background-position-x: 10%;
    }
}

.room__content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-left: 30%;
}

.room__main {
    width: 100%;
}

.room__header {
    width: 50%;
}

.room__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.room__text {
    width: 55%;
}

.room__media {
    margin-top: 50px;
    width: 40%;
}

.room__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.room__gallery > * {
    width: 49%;
    height: 100%;
    display: block;
    border: 1px solid #5335e3;
}

.room__wrapper {
    min-height: 700px;
}

.room__title {
    font-family: $title-text;
}

.room__video {
    border: 1px solid #5335e3;
    border-radius: 2px;
}
