.room {
    margin-top: 60px;
    color: #ffffff;
}

.room__content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-left: 30%;
}

.room__main {
    width: 100%;
}

.room__header {
    width: 50%;
}

.room__description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-family: $main-text;
    font-size: 16px;
}

.room__text {
    width: 55%;
}

.room__media {
    width: 40%;
    margin-top: -100px;
}

.room__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
}

.room__pic a {
    display: block;
}

.room__pic-thmbnail {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.room__gallery > * {
    display: inline-block;
    width: 48%;
    height: 100%;
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
}

.room__gallery a {
    display: block;
    margin-bottom: 2%;
    border: 1px solid rgba(87,53, 255, 0.7);
}

.room__gallery a:hover {
    border: 1px solid rgba(87,53, 255, 1);
}

.room__title {
    margin: 0;
    font-family: $title-text;
    font-size: 42px;
}

.room__subtitle {
    margin-top: 20px;
    font-size: 16px;
    color: #5335e3;
}

.room__additional {
    margin: 0;
    font-family: $main-text;
    font-size: 14px;
}

.room__bedges {
    font-size: 0;
}

.room__bedges > * {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    font-family: $title-text;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.room__difficulty {
    color: yellow;
    border: 2px solid yellow;
}

.room-page--expiriance .room__difficulty {
    color: red;
    border: 2px solid red;
}

.room__people,
.room__time {
    position: relative; 
    padding-left: 35px;
}

.room__people::before,
.room__time::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    width: 25px;
    height: 35px;
}

.room__people::before {
    background: url("../img/person_icon.svg") no-repeat center center;
    background-size: 32px 34px;
}

.room__time::before {
    background: url("../img/sand-clock1.svg") no-repeat center center;
    background-size: 32px 20px;
}

.room__title span {
    color: #5335e3;
}

.room__video {
    border: 1px solid rgba(87,53, 255, 0.7);
    border-radius: 2px;
}

.room__video:hover {
    border: 1px solid rgba(87,53, 255, 1);
}

.room__reserver {
    width: 50%;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.room__reserver a {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 20px;
    font-family: $main-text;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.2s linear;
    cursor: pointer;
    cursor:hand;
}

.room__reserver a:hover {
    background-color: rgba(255, 255,255, 0.9);
}

@media(max-width: 950px) {
    .room__title {
        font-size: 32px;
    }

    .room__bedges > * {
        padding: 7px 10px;
        margin-right: 10px;
        font-size: 18px;
        font-family: $title-text;
        font-weight: bold;
        border: 2px solid #ffffff;
    }

    .room__difficulty {
        border: 2px solid yellow;
    }

    .room__people,
    .room__time {
        padding-left: 35px;
    }

    .room__people::before,
    .room__time::before {
        top: -3px;
    }
}

@media(max-width: 880px) {
    .room__content {
        width: 60%;
        padding-left: 40%;
    }

    .room__header {
        width: 100%;
    }

    .room__description {
        flex-direction: column;
    }
    
    .room__description {
        width: 100%;
    }

    .room__text {
        width: 100%;
    }

    .room__media {
        margin-top: 20px;
        width: 100%;
    }

    .room__reserver {
        width: 100%;
        margin-top: 40px;
    }
}

@media(max-width: 520px) {
    .room__content {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 25px;
        margin-top: 90px;
        margin-bottom: 20px;
        background: rgba(28, 28, 28, 0.7);
        border-radius: 15px;
    }

    .room__title {
        font-size: 26px;
    }

    .room__bedges > * {
        margin-right: 5px;
        padding: 7px 7px;
        font-size: 16px;
        line-height: 16px;
    }

    .room__people,
    .room__time {
        padding-left: 30px;
    }

    .room__people::before,
    .room__time::before {
        top: -2px;
        left: 10px;
        width: 21px;
        height: 31px;
    }

    .room__people::before {
        background-size: 28px 30px;
    }
    
    .room__time::before {
        background-size: 28px 16px;
    }

    .room__reserver {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .room__description p {
        font-size: 14px;
    }
}