.scroll-home {
    position: fixed;
    display: none;
    bottom: 17px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    border-radius: 50%;
    font-size: 0px;
    cursor: pointer;
    z-index:9999;

    &:hover {
        background-color: rgba(255,255,255,0.5);
    }
}

.opened__menu .scroll-home {
    display: none;
}

.scroll-home::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    top: 37%;
    left: 53%;
    background-color: white;
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.scroll-home::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    top: 38%;
    left: 53%;
    background-color: white;
    transform-origin: 0% 0%;
    transform: rotate(135deg);
}