.scroll-home {
    position: fixed;
    bottom: 25px;
    right: -100%;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    border-radius: 50%;
    font-size: 0px;
    cursor: pointer;
    outline: none;
    z-index:9998;
    transition: 0.2s ease-in-out transform;

    &:hover {
        background-color: rgba(255,255,255,0.5);
    }
}

.scroll-home--hidden {
    transform: translateX(200px);
}

.opened__menu .scroll-home {
    display: none;
}

.scroll-home:active {
    background-color: rgba(255,255,255,0.7);
}

.scroll-home::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    top: 37%;
    left: 53%;
    background-color: white;
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.scroll-home::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    top: 38%;
    left: 53%;
    background-color: white;
    transform-origin: 0% 0%;
    transform: rotate(135deg);
}