.social {
    font-size: 0;
}

.social__item {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 2px;
    opacity: 0.8;
}

.intro .social__item {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    opacity: 0.9;
}

.opened__menu .intro .social__item {
    width: 45px;
    height: 45px;
}

.social__item:hover {
    opacity: 1;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opened__menu .social__item img {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social__lang img {
    height: 70px;
    width: 70px;
}

.opened__menu .social__lang img {
    width: 90px;
    height: 90px;
}
