.steps {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
}

.steps__title {
    max-width: 600px;
    font-family: $title-text;
    font-weight: bold;
    font-size: 38px;
}

.steps__title::after {
    content: "";
    display: block;
    margin-top: 15px;
    width: 120px;
    height: 6px;
    background-color: #4a2be4;
}

.steps__item {
    position: relative;
    max-width: 600px;
    padding-left: 100px;
}

.steps__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:70px;
    height: 70px;
}

.steps__item--lock::before {
    background: #000000 url("../img/logo_lock.svg") no-repeat center center;
    background-size: 98px 98px;
}

.steps__item--time::before {
    background: #000000 url("../img/logo_time.svg") no-repeat center center;
    background-size: 98px 98px;
}

.steps__item--person::before {
    background: #000000 url("../img/logo_person.svg") no-repeat center center;
    background-size: 98px 98px;
}

.steps__list {
    position: relative;
}

.steps__line {
    position: absolute;
    top:0;
    left: 0;
}

.steps__subtitle {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: $title-text;
    font-weight: bold;
    color: #4a2be4
}

.steps__text {
    margin: 0;
    font-family: $main-text;
    font-weight: normal;
}

@media(max-width: 568px) {
    .steps__title {
        font-size: 28px;
    }

    .steps__subtitle {
        font-size: 20px;
    }
}

@media(max-width: 430px) {
    .steps__title {
        font-size: 20px;
    }

    .steps__subtitle {
        font-size: 16px;
    }

    .steps__text {
        font-size: 14px;
    }
}